.onesection {
  margin-top: 50px;
}
.onesection ul {
  margin: 0;
  padding: 0;
}
.onesection ul li {
  margin: 5px 0;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 1140px) {
  .onesection {
    background-color: #c1c1c1;
  }
}